/*!
global > font
------------------------------
*/

$font-family-base: "Noto Sans JP", sans-serif;
$font-family-barlow: "Barlow", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-josefin: "Josefin Sans", sans-serif;