@use "sass:math";
@use "../global" as *;

/*!
component > header
------------------------------
*/

.c-header {}

.c-toggle {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: var(--green);
    border-radius: 0 0 0 5px;
    z-index: 11;

    @include mq(md) {
        display: none;
    }

    &::before {
        position: absolute;
        top: 20px;
        left: 20px;
        content: "";
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background: var(--white);
        transition: 0.5s;
    }

    &::after {
        position: absolute;
        bottom: 20px;
        left: 20px;
        content: "";
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background: var(--white);
        transition: 0.5s;
    }

    &__line {
        position: absolute;
        top: 29px;
        left: 20px;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background: var(--white);
        transition: 0.5s;
    }

    &.active {
        &::before {
            width: 24px;
            transform: translate(-2px, 9px) rotate(45deg);
        }

        &::after {
            width: 24px;
            transform: translate(-2px, -9px) rotate(-45deg);
        }

        .c-toggle__line {
            opacity: 0;
        }
    }
}