@use "sass:math";
@use "../global" as *;

/*!
component > header
------------------------------
*/

.c-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--white);
    @include mq(md) {
        padding: 20px 40px;
    }
    &-logo{
        flex-shrink: 0;
        width: 200px;
        @extend %fz-28;
        font-weight: 700;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 9;
        @include mq(md) {
            width: clamped(220,300);
        }
    }
    &__inner{
        @include mq(md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__content{
        @include mq(md) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: clamped(20,30);
        }
    }
    &-btns{
        display: none;
        @include mq(md) {
            display: block;
        }
        &__content{
            @include mq(md) {
                width: clamped(180,320);
            }
        }
    }
}

.c-toggle {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: var(--green);
    border-radius: 0 0 0 5px;
    z-index: 11;
    @include mq(md) {
        display: none;
    }

    &::before {
        position: absolute;
        top: 20px;
        left: 20px;
        content: "";
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background: var(--white);
        transition: 0.5s;
    }

    &::after {
        position: absolute;
        bottom: 20px;
        left: 20px;
        content: "";
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background: var(--white);
        transition: 0.5s;
    }

    &__line {
        position: absolute;
        top: 29px;
        left: 20px;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background: var(--white);
        transition: 0.5s;
    }

    &.active {
        &::before {
            width: 24px;
            transform: translate(-2px, 9px) rotate(45deg);
        }

        &::after {
            width: 24px;
            transform: translate(-2px, -9px) rotate(-45deg);
        }

        .c-toggle__line {
            opacity: 0;
        }
    }
}