:where(.inview) {
    visibility: hidden;
}

:where(.inview.inview_opacity) {
    opacity: 0;
}

.fadeIn,
.fadeUp,
.fadeRight,
.fadeRight {
    animation-duration: 1.5s;
    animation-timing-function: ease;
}


.fadeUp {
    animation-name: ani_fadeup;
    animation-fill-mode: forwards;
}

.fadeRight {
    animation-name: ani_toright;
    animation-fill-mode: forwards;
}

.fadeLeft {
    animation-name: ani_toleft;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation-name: ani_fadein;
    animation-fill-mode: forwards;
}


@keyframes ani_fadeup {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes ani_toright {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes ani_toleft {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes ani_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}